
.container {
  width: 1000px;
  margin: 20px auto;
}
body {
	background-image: url(images/background.jpg);
	background-color: rgb(0,0,0);
	background-repeat: no-repeat;
  	background-size: all;
	text-align: center;
	font-size: 15px;
	background-position: center;
	text-decoration: none;
	line-height: 0.9;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	color: beige;
}
h1{
	line-height: 1;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 40px;
	text-align: center;
	color: rgb(229,224,218);
	margin-top: 30px;
}
h2 {
	line-height: 1;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 30px;
	text-align: center;
	color: rgb(229,224,218);
	margin-top: 30px;
}
h3 {
	line-height: 1;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 20px;
	text-align: center;
	color: rgb(229,224,218);
	margin-top: 30px;
}
ul {
	display: inline;
	text-align: center;
	list-style-type: none;
}
li {
	padding-bottom: 10px;
}
i {
	color: white;
	margin: 20px;
}
i:hover {
	color: red;
}
#contact {
	color: beige !important;
}
.topbar {
	text-align: right;
	color: black;
	font-size: 15px;
	height: 15px;
	margin-bottom: 15px;
	font-family: 'Frank Ruhl Libre', serif;
}
.intro {
	text-align: center;
	font-size: 20px;
	background-position: center;
	text-decoration: none;
	line-height: 0.9;
	font-family: 'Frank Ruhl Libre', serif;
	margin-bottom: 50px;
}
.profile {
	width:200px;
	height:200px;
	object-fit:cover;
	border-radius:50%;
	border: 7px solid black;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	margin: 30px;
}
.interests {
	background-color: rgb(0,0,0,0.8);
	border-radius: 20px;
	box-shadow: 8px 10px 40px 1px rgba(0,0,0,1);
	margin-bottom: 100px;
	padding-top: 5px;
	padding-bottom: 25px;
}
.article {
	background-color: rgb(0,0,0,0.8);
	border-radius: 20px;
	box-shadow: 8px 10px 40px 1px rgba(0,0,0,1);
	margin-bottom: 100px;
	padding-top: 5px;
	padding-bottom: 25px;
}
.photo {
	background-color: rgb(0,0,0,0.8);
	border-radius: 20px;
	box-shadow: 8px 10px 40px 1px rgba(0,0,0,1);
	margin-bottom: 100px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.AI {
	width:200px;
	height:100px;
	object-fit:cover;
	border-radius:80%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.carousel {
	padding-right: 200px;
	padding-left: 200px;
	padding-bottom: 15px;
	margin-bottom: 100px;
}
.carousel-inner:hover {
  transform: scale(1.5);
}
.carousel-inner {
	border-radius: 15%;
	}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}
.right {
  right: 0;
  background-image: url(images/Forest.jpg);
  background-position: center;
  background-size: cover;
}
.right::-webkit-scrollbar {
  display: none;
}
.left::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width:1900px) {

	.container{
		width: 700px;
	}
}
@media screen and (max-width:1400px) {

	.container{
		width: 500px;
	}
	.carousel-inner:hover {
  transform: scale(2);
}
@media screen and (max-width:1000px) {

	.container{
		width: 300px;
	}
	.carousel-inner:hover {
  transform: scale(2);
}
}